<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Hola Flask!</title>
</head>
<body>
    <h1>Hello World!</h1>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
            <tr>
                <td>{{paciente[0]}}</td>
                <td>{{paciente[3]}}</td>
                <td>{{paciente[1]}}</td>
                <td>{{paciente[2]}}</td>
                <td>Editar | Borrar</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>